.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #f1ebebcc;
  -webkit-transition: -webkit-box-shadow .25s;
}

.contain{
  background: url('../../assets/img/background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
